#dv-full-screen-container {
  height: 100vh !important;
  background-image: url('http://datav-react.jiaminghi.com/demo/construction-data/static/media/bg.837e99ea.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  .dv-loading {
    .loading-tip {
      margin-top: 10px;
    }
  }
}


